.boton {
  color:#61dafb;
  font-size: 20px;
  background-color:	#f4eeee;
  font-weight: bold;
  border-radius: 50px;
}

.boton:hover {
  color:#61dafb;
  background-color:#000;
  font-weight: bold;
  cursor: pointer;
}